body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', sans-serif;
    color: #666;
}

body {
    font-size: 1.5em;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:hover,a:active,a:focus,a:visited { outline: 0; }
.fond-md{ font-size: 1.5em; }
.font-lf{ font-size: 1.8em; }

.jumbotron {
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.jumbotron h1 {
    text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.7), 3px 3px 4px rgba(0, 0, 0, 0.6);
}