@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Northwind</h1>
    <p class="lead">We have the best prices and selection of high quality foods & beverages on the Plant. Check out our featured discounts below.</p>
    <p><a href="~/Product/Unit2Project" class="btn btn-primary btn-lg">Place your order now &raquo;</a></p>
</div>